.cars{
    background-color: rgb(224, 230, 231);
    padding-left: 250px;
    border: solid 2px;
    height: 100vh;
    
}
.cars-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 900px;
    margin-top: 10px !important;
    gap: 10px;
}
